    <%- include('../partials/_header') %>
    <title>Map Index</title>
</head>
<body>
    <nav><%- include('../partials/_navBar') %></nav>
    <main class="overImage">
        <article>
            <p>As our explorers discover new locations, we document their findings.</p>
            <ul>
                <% locations.sort((a, b) => {
                    return a.city.toLowerCase().localeCompare(b.city.toLowerCase());
                }); %>
                <% locations.forEach(location => { %>
                    <li>
                        <a href="/locations/<%= location.city %>">
                            <%= location.city %>, 
                            <%= location.kingdom.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase()).join(' ') %>
                        </a>
                    </li>
                <% }); %>
            </ul>
        <%- include('../partials/_footer') %>
        
    </main>
    
</body>
</html>