<%- include('../partials/_header') %>
    <title>Edit Sighting</title>
</head>
<body>
    <%- include('../partials/_navBar') %>
    <main class="overImage">
        <article>
            <h1>Sighting Current Information</h1>
            <p>Date: <%= sighting.date.toISOString().split('T')[0] %></p>
            <p>Creature Name: <%= sighting.creature.name %></p>
            <p>Location (City): <%= sighting.location.city %></p>
            <p>Encounter Type: <%= sighting.encounter %></p>
            <p>Notes: <%= sighting.notes %></p>
        </article>
        <article>   
            <h2>Edit Sighting</h2>
            <form action="/sightings/edit/<%= sighting._id %>?_method=PUT" method="POST">
                <div>
                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date" value="<%= sighting.date.toISOString().split('T')[0] %>" required>
                </div>
                <div>
                    <label for="encounter">Type of Encounter:</label>
                    <select id="encounter" name="encounter" required>
                        <option value="spotted">Spotted without engagement.</option>
                        <option value="fled">Engaged but monster fled.</option>
                        <option value="parlay">Negotiated with the monster.</option>
                        <option value="vanquished">Killed the monster.</option>
                        <option value="died">Explorer killed by monster.</option>
                    </select>

                </div>
                <div>
                    <label for="notes">Tell the Tale:</label>
                    <textarea id="notes" name="notes" required><%= sighting.notes %></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Update Sighting</button>
            </form>
        </article>
        <article>
            <h2>Delete Sighting</h2>
            <p class="warning">This cannot be undone. Deleting your Sighting will remove it from your personal page.</p>
            <form action="/sightings/delete/<%= sighting._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Delete this Sighting</button>
            </form>
        </article>
    </main>
</body>
</html>