<%- include('../partials/_header') %>
    <title><%= user.username %>'s Profile</title>
</head>
<body>
    <%- include('../partials/_navBar') %>
    <main class="overImage">
    <article>
        <% if (currentUser === user.username) { %>
            <h1>This is your Profile, <%= user.username %></h1>
        <% } else { %>
            <h1><%= user.username %>'s Profile</h1>
        <% } %>
        <p><strong>Class:</strong> <%= user.class %></p>
        <p><strong>Hometown:</strong> <a href="/locations/<%= city %>"><%= city %></a></p>
        <p><strong>Kingdom:</strong> <%= kingdom.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ') %></p>
    </article>
    <article>
        <% if (typeof sightings === 'string') { %>
            <p><%= sightings %></p>
        <% } else if (Array.isArray(sightings) && sightings.length > 0) { %>
            <h1><%= currentUser === user.username ? "Your Sightings" : "Sightings" %></h1>
            <section>
                <% for (let i = 0; i < sightings.length; i++) { %>
                <div class="sighting">
                    <p><strong>Creature:</strong> <a href="/creatures/species/<%= creature[i].name.replace(/\s+/g, '') %>"><%= creature[i].name %></a></p>
                    <p><strong>Date Added:</strong> <%= date[i] %></p>
                    <% if (currentUser === user.username) { %>
                        <button onclick="location.href='/sightings/edit/<%= sightings[i]._id %>'" class="btn">Edit this Sighting</button>
                    <% } %>
                </div>
                <% } %>
            </section>
        <% } %>
        <% if (currentUser === user.username) { %>
            <button onclick="location.href='/sightings/new'" class="btn">Add a New Sighting</button>
        <% } %>
    </article>
    <%- include('../partials/_footer') %>

    </main>

</body>
</html>